# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wfzravxwpwztaimfiidq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmenJhdnh3cHd6dGFpbWZpaWRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0MTg4OTgsImV4cCI6MjA5MDk5NDg5OH0.OC4xHBOkqq1aEuCEkCSU9A7E-CcmF9i67gBQBpELj1U
